<h3 class="d-flex justify-content-center">Formulario de carga Licencias</h3>

<div class="container">
  <form [formGroup]="formularioLicencia" class="row g-3" (ngSubmit)="enviar()">
    <div class="col-md-4 container text-center">
      <label for="nombre" class="form-label">Ingresar Nombre</label>
      <input
        [ngClass]="{ 'is-invalid': hasErrors('nombre', 'required') }"
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre..."
      />
      @if (hasErrors('nombre', 'required')) {
      <div class="text-danger">Nombre requerido</div>
      }

      <label for="fabricante" class="form-label">Ingresar Fabricante</label>
      <input
        [ngClass]="{ 'is-invalid': hasErrors('fabricante', 'required') }"
        type="text"
        class="form-control"
        formControlName="fabricante"
        placeholder="Fabricante..."
      />
      @if (hasErrors('fabricante', 'required')) {
      <div class="text-danger">Fabricante requerido</div>
      }

      <label for="numero_release" class="form-label"
        >Ingresar número Release</label
      >
      <input
        [ngClass]="{ 'is-invalid': hasErrors('numero_release', 'required') }"
        type="text"
        class="form-control"
        formControlName="numero_release"
        placeholder="Número Release..."
      />
      @if (hasErrors('numero_release', 'required')) {
      <div class="text-danger">Número Release requerido</div>
      }

      <label for="monto" class="form-label">Ingresar monto</label>
      <input
        [ngClass]="{ 'is-invalid': hasErrors('monto', 'required') }"
        type="number"
        class="form-control"
        formControlName="monto"
        placeholder="monto..."
      />
      @if (hasErrors('monto', 'required')) {
      <div class="text-danger">Monto requerido</div>
      }
    </div>
    <div class="col-md-4 container text-center">
      <label for="fecha_otorgamiento" class="form-label"
        >Ingresar Fecha de otorgamiento</label
      >
      <input
        [ngClass]="{
          'is-invalid': hasErrors('fecha_otorgamiento', 'required')
        }"
        type="date"
        class="form-control"
        formControlName="fecha_otorgamiento"
        placeholder="Fecha de otorgamiento..."
      />
      @if (hasErrors('fecha_otorgamiento', 'required')) {
      <div class="text-danger">Fecha de otorgamiento requerido</div>
      }

      <label for="fecha_vencimiento" class="form-label"
        >Ingresar Fecha de vencimiento</label
      >
      <input
        [ngClass]="{ 'is-invalid': hasErrors('fecha_vencimiento', 'required') }"
        type="date"
        class="form-control"
        formControlName="fecha_vencimiento"
        placeholder="Fecha de vencimiento..."
      />
      @if (hasErrors('fecha_vencimiento', 'required')) {
      <div class="text-danger">Fecha de vencimiento requerido</div>
      }

      <label for="anio" class="form-label">Año de publicación</label>
      <select aria-label="Default select example"
        [ngClass]="{ 'is-invalid': hasErrors('anio', 'required') }"
        class="form-control form-select"
        formControlName="anio"
      >
        <option value="" disabled selected>Seleccione un año</option>
        <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
      </select>
      @if (hasErrors('anio', 'required')) {
      <div class="text-danger">Año requerido</div>
      }

      <label for="version" class="form-label">Ingresar la versión</label>
      <input
        [ngClass]="{ 'is-invalid': hasErrors('version', 'required') }"
        type="text"
        class="form-control"
        formControlName="version"
        placeholder="version..."
      />
      @if (hasErrors('version', 'required')) {
      <div class="text-danger">N° de versión requerido</div>
      }
    </div>
    <div class="container text-center">
      <button type="submit" class="btn btn-secondary" >Guardar</button>
    </div>
  </form>
  <div class="container text-center">
    <button type="submit" class="btn btn-secondary" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</div>
