<div class="container text-center" style="margin: 0% 0% 0% 20%;">
    <form class="row g-3">
    <div class="col-md-4">
        <label for="inputNombre" class="form-label">Ingresar Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
        <input type="text" class="form-control" id="inputFabricante" placeholder="Fabricante">
        <input type="number" class="form-control" id="inputNombreRelease" placeholder="Release">
        <input type="number" class="form-control" id="inputVersion" placeholder="Versión">
    </div>
    <div class="col-md-4">
        <label for="inputFecha" class="form-label">Ingresar Fecha</label>
        <input type="number" class="form-control" id="inputFecha" placeholder="Fecha de otorgamiento de licencia">
        <input type="number" class="form-control" id="inputVencimiento" placeholder="Vencimiento">
        <input type="number" class="form-control" id="inputAnio" placeholder="Año">
        <input type="number" class="form-control" id="inputPrecio" placeholder="Precio">
    </div>
    <div class="col-8">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    </form>
</div>