<div class="container text-center" style="margin: 0% 0% 0% 20%;">
    <form class="row g-3">
    <div class="col-md-8">
        <label for="inputDenominacion" class="form-label">Complete la Información:</label>
        <input type="text" class="form-control" id="inputDenominacion" placeholder="Denominación">
        <input type="number" class="form-control" id="inputFecha" placeholder="Fecha">
        <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripción">
        <input type="number" class="form-control" id="inputNSerie" placeholder="Número de serie">
        <input type="number" class="form-control" id="inputPrecio" placeholder="Precio">
    </div>


    <div class="col-8">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
</div>