<h3 style="margin-left: 115px;">{{nombre}}</h3>
<div class="container text-center">
<table class="table table-bordered" >
  <caption>Lista de Bibliografías</caption>
  <thead class="table-dark">
    <tr>
      <th scope="col" >Título</th>
      <th scope="col">Nombre y Apellido del autor</th>
      <th scope="col">Monto</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody >
    @for ( item of bibliografias; track $index) {
    <tr>
      <td >{{item.titulo}}</td>
      <td>{{item.nombreAutor}} {{item.apellidoAutor}}</td>
      <td>{{item.monto | currency}}</td>
      <td><button class="btn btn-dark"><a href=""></a>Ver más</button></td>
    </tr>
  }
    
  </tbody>
</table>
<a class="nav-link" routerLink="/bibliografias/nuevo">
<button type="button" class="btn btn-secondary">Cargar Nueva {{nombre}}</button></a>
</div>

<!-- <div style="margin-left:500px">
</div> -->