<h3 style="margin-left: 115px;">{{nombre}}</h3>
<div class="container text-center">

  <table class="table table-bordered" >
    <caption>Lista de Equipos de infraestructura</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha de incorporación</th>
        <th scope="col">Monto</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for ( item of equipos; track $index) {
        <tr>
          <td>{{item.descripcion}}</td>
          <td>{{item.fechaIncorporacion}}</td>
          <td>{{item.monto | currency}}</td>
          <td><button class="btn btn-dark"><a href=""></a>Ver más</button></td>
        </tr>
      }
      
    </tbody>
  </table>
  <a class="nav-link" routerLink="/infra/nuevo">
  <button type="button" class="btn btn-secondary" >Cargar {{nombre}}</button></a>
</div>