<div class="d-flex justify-content-evenly">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Bibliografías</h5>
      <p class="card-text">
        Aquí encontrarás toda la bibliografía con que contamos y la posibilidad
        de agregar nuevos elementos
      </p>
      <button class="btn btn-primary">
        <a
          class="nav-link"
          routerLink="/bibliografias"
          routerLinkActive="active"
        >
          Ver más
        </a>
      </button>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Licencias de Software</h5>
      <p class="card-text">
        Listado completo de todas las licencias de Software con que contamos
      </p>
      <button class="btn btn-primary">
        <a
          class="nav-link"
          routerLink="/licencias"
          routerLinkActive="active"
        >
          Ver más
        </a>
      </button>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Equipos de Infraestructura</h5>
      <p class="card-text">
        Consultar y obtener información actualizada sobre el inventario de
        equipamiento e infraestructura de la organización
      </p>
      <button class="btn btn-primary">
        <a
          class="nav-link"
          routerLink="/infra"
          routerLinkActive="active"
        >
          Ver más
        </a>
      </button>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Servicios</h5>
      <p class="card-text">
        Estos son los servicios cargados hasta el momento. Podés agregar alguno
      </p>
      <button class="btn btn-primary">
        <a
          class="nav-link"
          routerLink="/servicios"
          routerLinkActive="active"
        >
          Ver más
        </a>
      </button>
    </div>
  </div>
</div>
