<div>
    <table class="table  table-striped" style="width: 80%; margin: 0px 150px 150px 150px;">
        <tbody>
            <tr>
              <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                    <label class="form-check-label" for="flexCheckIndeterminate">
                    </label>
                </div>
              </td>
              <td>Nombre</td>
              <td>descripcion</td>
              <td> <button type="button" class="btn btn-dark">Ver</button></td>
            </tr>
          </tbody>
      </table>
</div>