<div  >
    <nav class="navbar navbar-dark bg-dark fixed-top" >
      <div class="container-fluid" >
          <a class="nav-link" routerLink="" routerLinkActive="router-link-active" style="margin: auto; " ><h1  style="font-family: 'Times New Roman', Times, serif; color: aliceblue;" >Gestión de Adquisiciones</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link"  routerLink="inicio" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="bibliografias" routerLinkActive="active">Bibliografía</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="licencias" routerLinkActive="active">Licencias de Software</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="infra" routerLinkActive="active">Infraestructura</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="servicios" routerLinkActive="active">Servicios</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Desplegable
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Acción</a></li>
                    <li><a class="dropdown-item" href="#">Otra Acción</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Algo mas acá</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-success" style="background-color: rgb(85, 17, 149);" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
        </nav>
</div>
<br>
<br>
<br>
<br>
<div>
    <router-outlet></router-outlet>
</div>  