<div class="container text-center" style="margin: 0% 0% 0% 20%;">
    <form class="row g-3">
    <div class="col-md-8">
        <label for="inputTipoServicio" class="form-label">Complete la Información:</label>
        <input type="text" class="form-control" id="inputTipoServicio" placeholder="Tipo de Servicio">
        <input type="number" class="form-control" id="inputFecha" placeholder="Fecha">
        <input type="number" class="form-control" id="inputPrecio" placeholder="Precio">
    </div>


    <div class="col-8">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
</div>