<h1 style="margin-left: 80px;">{{nombre}}</h1>
<table class="table" style="margin-left: 80px;">
  <thead>
    <tr>
      <th scope="col">Tipo de Servicio</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for ( item of servicios; track $index) {
    <tr>
      <td>{{item.tipoServicio.nombreTipoServicio}}</td>
      <td>{{item.fecha}}</td>
      <td>{{item.monto | currency}}</td>
      <td><button class="btn btn-dark"><a href=""></a>Ver más</button></td>
      <td></td>
    </tr>
  }
    