<div class="container text-center">
    <form class="row g-3">
    <div class="col-md-4">
        <label for="inputTitulo" class="form-label">Cómo se llama el libro?</label>
        <input type="text" class="form-control" id="inputTitulo" placeholder="Ingrese el título">
        <input type="text" class="form-control" id="inputNombreAutor" placeholder="Ingrese el nombre del autor">
        <input type="text" class="form-control" id="inputNombreAutor" placeholder="Ingrese el apellido del autor">
    </div>
    <div class="col-md-4">
        <label for="inputISBN" class="form-label">códigos:</label>
        <input type="number" class="form-control" id="inputISBN" placeholder="Ingrese N° ISBN">
        <input type="number" class="form-control" id="inputISSN" placeholder="Ingrese N° ISSN">
    </div>
    <div class="col-md-4">
        <label for="inputEditorial" class="form-label">datos de publicación:</label>
        <input type="text" class="form-control" id="inputEditorial" placeholder="Ingrese una editorial">
        <input type="number" class="form-control" id="inputAnioPubli" placeholder="Ingrese el año de publicación">
    </div>
    <div >
        <div class="col-md-4" style="margin-bottom: 8px;">
            <label for="inputTipoMaterial" class="form-label">otros datos:</label>
            <input type="text" class="form-control" id="inputTipoMaterial" placeholder="Ingrese tipo de material">
        </div>
        <div class="col-md-4" style="margin-bottom: 8px;">
            <input type="text" class="form-control" id="inputURL" placeholder="Ingrese URL">
        </div>
        <div class="col-md-4" style="margin-bottom: 8px;">
            <input type="number" class="form-control" id="inputPrecio" placeholder="Ingrese el precio">
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
</div>